
.recipe-form {
  max-width: 80vw;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

img {
width: 100%;
height: 25rem;
object-fit: contain;
}

button[type="submit"] {
  padding: .5rem 1rem;
  margin: .2rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="close"] {
  padding: .5rem 1rem;
  margin: .2rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-div {
  display: flex;
  justify-content: end;
}
