/* Recipe List Container */
.RecipeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem;
}

/* Individual Recipe Container */
.recipe {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff; /* White background for recipe card */
  border-radius: 10px; /* Rounded corners for card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
}

.recipe-details {
  min-height: 13rem;
}

/* Recipe Image */
.recipe img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  border-top-left-radius: 10px; /* Rounded top corners */
  border-top-right-radius: 10px;
}

.read-more {
  background-color: white;
  color: red;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Recipe Title and Price */
.recipe h3 {
  margin: 10px 0;
  padding: 10px;
}

.no-data {
  grid-column: span 3;
  text-align: center;
}

.price mark {
  background-color: rgb(170, 7, 170);
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

/* Recipe Description */
.recipe p {
  margin: 0;
  padding: 10px;
}

.actions-button {
  display: flex; /* Align buttons horizontally */
  gap: 1rem; /* Space between buttons */
  padding: 10px; /* Padding around buttons container */
}

/* Detail Button Styles */
.recipe .edit-b {
  background-color: #007bff;
  color: white;
}



/* Delete Button Styles */
.recipe .delete-b {
  background-color: red;
  color: white;
}



/* Responsive Design */
@media screen and (max-width: 768px) {
  .RecipeList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0.5rem;
  }

  .recipe {
    display: flex;
    flex-direction: column;
  }

  .recipe:first-child {
    grid-column: 1 / span 1;
  }
}


