.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  button.button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 600px) {
    button.button {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  }
  
  